<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>{{ title }}</h1>
        <nav>
            <a href="/">Voltar ao Início</a>
            <a href="/partidas">Voltar à Lista de Partidas</a>
            <a href="/">Gerenciar Equipes</a>
        </nav>
    </header>

    <main>
        <form action="{{ url_for('editar_partida', id=partida.id) if partida else url_for('cadastrar_partida') }}" method="POST">
                <label for="data">Data:</label>
                <input type="date" id="data" name="data" value="{{ partida.data if partida else '' }}" required>
                <label for="local">Local:</label>
                <input type="text" id="local" name="local" value="{{ partida.local if partida else '' }}" required>

            <button type="submit">Salvar</button>

        </form>
    </main>

    <footer>
        <p>&copy; 2024 II Taça CZ Volei. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
