<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partidas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Partidas</h1>
        <nav>
            <a href="/">Voltar ao Início</a>
            <a href="/partidas/novo">Adicionar Nova Partida</a>
            <a href="/">Gerenciar Equipes</a>
            <a href="/chaves">Chaves</a>
        </nav>
    </header>

    <main>
        <h2>Lista de Partidas</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Data</th>
                    <th>Local</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for partida in partidas %}
                    <tr>
                        <td>{{ partida.id }}</td>
                        <td>{{ partida.data }}</td>
                        <td>{{ partida.local }}</td>
                        <td>
                            <button><a href="/partidas/editar/{{ partida.id }}">Editar</a>
                            <button><a href="/partidas/remover/{{ partida.id }}" onclick="return confirm('Tem certeza que deseja remover esta partida?');">Remover</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

    <footer>
        <p>&copy; 2024 II Taça CZ Volei. Todos os direitos reservados.</p>
    </footer>
</body>
</html>